@import "../bootstrap/bootstrap.less";

// Theme
@theme: "default";

// Paths
@base-url: "Content";
@theme-url: "{@base-url}/themes/{@theme}";

// Varaibles
@iconSpritePath:          "{@theme-url}/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "{@theme-url}/img/glyphicons-halflings-white.png";

@minWidth: 620px;
@maxWidth: 920px;

//@green: #06cf20;
@green: #29c000;
@linkColor: @grayLight;
@linkColorHover: @black;
//@baseLineHeight: 25px;

@textShadow: @white 0px 1px 1px;
@textShadowHeavy: @grayLighter 0px 1px 1px;
@textShadowInverted: @white 0px 1px 1px;
@textShadowHeavyInverted: @grayLighter 0px 1px 1px;
